<h2>New Product</h2>

<%= form_for @product do |f| %>
  <div>
    <%= f.label :name%><br>
    <%= f.text_field :name%>
  </div>
  </div>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<%end%>
